# {{ ansible_managed }}
# file: elasticsearch/templates/elasticsearch.yml.j2
#jinja2:trim_blocks: False

node.name: {{ ansible_hostname }}
cluster.name: {{ elasticsearch.cluster_name }}

path.data: {{ elasticsearch.paths.data }}
path.logs: {{ elasticsearch.paths.logs }}

index.number_of_shards: {{ elasticsearch.index.number_of_shards }}
index.number_of_replicas: {{ elasticsearch.index.number_of_replicas }}

{% if elasticsearch.family is defined %}
{% if elasticsearch.family == "2.x" %}
{% if elasticsearch.network_host is defined %}
network.host: {{ elasticsearch.network_host }}
{% endif %}
network.host: "_site:ipv4_"
{% endif %}
{% endif %}

{% if elasticsearch.bootstrap_mlockall is defined %}
bootstrap.mlockall: {{ elasticsearch.bootstrap_mlockall }}
{% endif %}

{% if cluster_name is defined %}
cluster.name: {{ cluster_name }}
{% endif %}

{% if elasticsearch.discovery_zen_ping_multicast_enabled is defined %}
discovery.zen.ping.multicast.enabled: {{ elasticsearch.discovery_zen_ping_multicast_enabled }}
{% endif %}
{% if elasticsearch.discovery_zen_ping_unicast_hosts is defined %}
discovery.zen.ping.unicast.hosts: {{ elasticsearch.discovery_zen_ping_unicast_hosts }}
{% endif %}
{% if discovery_zen_minimum_master_nodes is defined %}
discovery.zen.minimum_master_nodes: {{ discovery_zen_minimum_master_nodes }}
{% endif %}

{% if gateway_expected_nodes is defined %}
gateway.expected_nodes: {{ gateway_expected_nodes  }}
{% endif %}
{% if gateway_recover_after_nodes is defined %}
gateway.recover_after_nodes: {{ gateway_recover_after_nodes  }}
{% endif %}
{% if gateway_recover_after_time is defined %}
gateway.recover_after_time: {{ gateway_recover_after_time }}
{% endif %}
{% if elasticsearch.disable_dynamic_scripting %}
script.disable_dynamic: {{ elasticsearch.disable_dynamic_scripting }}
{% endif %}

{% if elasticsearch.plugin_config.aws.enabled %}
cloud.aws.region: "{{ elasticsearch.plugin_config.aws.cloud_aws_region }}"
cloud.node.auto_attributes: true

  {% if elasticsearch.plugin_config.aws.discovery.enabled %}

discovery.type: ec2
discovery.ec2.ping_timeout: "{{ elasticsearch.plugin_config.aws.discovery.ec2_ping_timeout }}"

    {% for tag, value in elasticsearch.plugin_config.aws.discovery.ec2_tags.iteritems() %}

discovery.ec2.tag.{{ tag }}: {{ value }}

    {% endfor %}
  {% endif %}
{% endif %}

{% for extra_config in elasticsearch.extra_config %}
{{ extra_config }}
{% endfor %}
