---
# {{ ansible_managed }}
# file: elasticsearch/templates/elasticsearch.yml.j2

{{ sansible_elasticsearch_additional_config | default({}) | combine({
  "cluster.name": sansible_elasticsearch_config_cluster_name,
  "node.name": sansible_elasticsearch_config_node_name,
  "path.data": sansible_elasticsearch_config_path_data,
  "path.logs": sansible_elasticsearch_config_path_logs
}) | to_nice_yaml }}
