# {{ ansible_managed }}
# file: elasticsearch/templates/elasticsearch.default.j2
#

CONF_DIR={{ elasticsearch.paths.configuration }}
DATA_DIR={{ elasticsearch.paths.data }}
ES_HOME=/usr/share/elasticsearch
ES_USER=elasticsearch
LOG_DIR={{ elasticsearch.paths.logs }}
MAX_MAP_COUNT=262144
MAX_OPEN_FILES=65535
WORK_DIR=/tmp/elasticsearch

ES_MIN_MEM={{ elasticsearch.java_heap_size }}
ES_MAX_MEM={{ elasticsearch.java_heap_size }}
ES_HEAP_SIZE={{ elasticsearch.java_heap_size }}m

export ES_USE_IPV4=true
